 <?xml version="1.0"?>
  <model>
    <name>Bread_Cutter</name>
    <version>1.0</version>
    <urdf>urdf/Bread_Cutter.urdf</urdf>
    <author>
      <name>Nikolay Blagoev</name>
      <email>name@email.address</email>
    </author>
    <description>
      Bread Cutter robot designed for AH
    </description>
  </model>
